<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Customer Churn Prediction</title>
</head>
<body>
    <h2>Enter Customer Details</h2>
    <form method="POST" action="/predict">
        <label>Contract:</label>
        <input type="text" name="Contract" required><br>

        <label>Internet Service:</label>
        <input type="text" name="InternetService" required><br>

        <label>Online Security:</label>
        <input type="text" name="OnlineSecurity" required><br>

        <label>Phone Service:</label>
        <input type="text" name="PhoneService" required><br>

        <label>Tech Support:</label>
        <input type="text" name="TechSupport" required><br>

        <label>Paperless Billing:</label>
        <input type="text" name="PaperlessBilling" required><br>

        <label>Payment Method:</label>
        <input type="text" name="PaymentMethod" required><br>

        <label>Multiple Lines:</label>
        <input type="text" name="MultipleLines" required><br>

        <label>Streaming Movies:</label>
        <input type="text" name="StreamingMovies" required><br><br>

        <input type="submit" value="Predict">
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
